<% if admin_signed_in? %>
    <%= link_to "Nuevo Artículo", new_article_path %>
<% end %>

<% @articles.each do |article| %>
    <ul>
        <li>
            <%= link_to article.name, article, {:class=>"text-lg text-blue-500 hover:text-blue-800"} %>
            <!-- <a class="text-blue-500 hover:text-blue-800" href="#"> Enviar </a> -->
        </li>
    </ul>
<% end %>